.carer__container{
    min-height: 80%;
    border-radius: 1rem;
background-color: #c2edce;
    margin-top:3.8rem;
    padding-right:2rem;
    padding-bottom:2rem;
    padding-left:2rem;

    &-item{
        padding-left: 3rem;
    }
}   

#trash-can{
  cursor: pointer;
}